
.container {
    height: 100vh;
    width: 100vw;
    display: flex;

    .main {
        flex: 1;
        display: flex;
        flex-direction: column;

        .content{
            flex: 1;
            overflow: hidden;
            margin-top: 0.03em;
        }
    }

    .sidebar {
        margin: 2.08em;
    }

}