<div class="header">
    <div class="profil">
        <img routerLink="/login" src="assets/images/example_image_profil.png" alt="exemple image de profil" id="imageProfil">
        <img src="assets/images/arrow_low.png" alt="flèche bas">
    </div>
    <div class="notifications">
        <app-notifications></app-notifications>
    </div>
    <div class="search_bar">
        <input type="search" placeholder="Search anything...">
    <!--<img src="assets/images/icon_search.svg" alt="icône de search">-->
    </div>
</div>
