button {
    height: 40px;
    border-radius: 6px;
    width: 100%;
    padding: 4px;
    border-width: 0px;
    border-radius: 6px;

    display: flex;
    justify-content: center;

    img {
        padding-right: 8px;
        padding-top: 5px;
        height: 20px;
    }
    

}