
.forgotPassword{
    @media screen and (max-width:650px) {
        margin-bottom: 5em;
        margin-top: 5em;
    }

    div {
        margin-top: 1.4em;
    }

}

.to_sign_up {
    display: flex;
    justify-content: center;
    
    p {
        margin-left: 4px;
        margin-right: 4px;

    }
}