<div class="forgotPassword">
    <p>Enter the email address associated with your account and we'll send you a link to reset your password.</p>
    <div><app-input label="Email" placeHolder="Enter your email adress" typeOfInput="email" (inputEmmitter)="setEmail($event)"></app-input></div>
    <div><app-button label="Continue" colorBackgroundButton="#007AFF" (clickEmitter)="sendChangePasswordLink()"></app-button></div>
</div>
<div class="to_sign_up">
    <p>Don't have an account?</p>
    <p><a [routerLinkActive]="['active']" [routerLink]="['/login/signUp']">Sign up now</a></p>
</div> 