html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #0F0F0F;
    
    font-family: 'DM Sans';

    a {
        text-decoration: none;
        color: #007AFF;
    }
}